li{
    position: relative;
    cursor: pointer;
}

li::after{
    content: "";
    position: absolute;
    background: black;
    bottom: -5px;
    height: 2px;
    /* top:-5px; */
    left: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
}

li:hover::after{
    width: 100%
}